.data-table {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #58371B;
    color: #efefef;

    &-header {
        padding: 0.8em 1em;
        font-weight: 400;
        font-size: 1.25em;
    }

    &-row {
        padding: 0.4em 0.6em;
        font-weight: 300;
        font-size: 1em;

        &:nth-child(even) {
            background-color: #7F644D;
        }
        
        &:nth-child(odd) {
            background-color: #8e7159;
        }
    }

    &-header, &-row {
        box-sizing: border-box;
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;

        &-cell {
            flex: 1;
        }
        
    }

    &-pagination {
        padding: 0.2em .2em;
        font-weight: 300;
        font-size: .85em;
    }
}

.arrow {
    border: solid #efefef;
    border-width: 0 0.05em 0.05em 0;
    display: inline-block;
    padding: 0.2em;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);     
    
    &.active {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}