$background_color: #0a64a0;
$background_color_hightlight: #085283;
$color: #f1f1f1;

nav {
    flex: 0 0 20%;
    order: -1;
    background-color: $background_color;

    * {
        display: block;
        font-weight: 200; 
        font-size: 1.25em;
        margin: 0;
        padding: .5em 1em;
        color: $color;
    }

    .nav-brand {
        font-size: 2em;
        font-weight: 300;
        padding: 1em .75em;
    }

    a {
        text-decoration: none;

        &:hover, &:active {
            color: $color;
            background-color: $background_color_hightlight;
        }
    }
}