@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}